/* ----------------------> header ---------------------------> */

#header {
    animation: header 3s ease-in-out 1;
}

@keyframes header {
    0% {
        position: relative;
        right: -100%;
    }
    100% {
        position: relative;
        right: 0;
    }
}

/*  ----------------------------> top section --------------------------> */

 .top-section {
    border-top: 4px solid blueviolet;
    transition: all 3s ease-in-out;
    animation: top-section 3s ease-in-out .2s;
}

@keyframes top-section {
    0% {
        position: relative;
        left: -100%;
    }
    100% {
        position: relative;
        left: 0;
    }
}

/*  -------------------------> mid section ------------------>*/

.mid-section {
    transition: all 3s ease-in-out;
    animation: mid-section 3s ease-in-out 1;
}

@keyframes mid-section {
    0% {
        position: relative;
        right: -100%;
    }
    100% {
        position: relative;
        right: 0;
    }
} 